<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>NIT-C Connect</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <!-- Compiled and minified CSS -->
  <%# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> %>

  <!-- Compiled and minified JavaScript -->
</head>

<body>
  <!-- Addition 1 -->
  <nav>

      <h1 class = " heading"><img class="nitc-img" src="./nitc-logo.png" alt="NIT-C Logo ">NIT-C | Permission Management System</h1>
      <div class = "img-2">
        <a id="add-request-btn" class = "nav-img-1" href="/request"><img src="./plus1.png" alt="Plus"></a>
        <a id="logout-btn" href="/logout"><img src="./Log Out.png" width="15px" height="15px" alt="Log Out"></a>
      </div>
  </nav>
