<%- include('partials/header') %>
<div class=" card login container-fluid">
        <a class="oauth-container button_login" href="/auth/google"  >
          <img class="login-google-img"  alt="Google sign-in"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
              <div class="card-body">
               Login with NIT-C Email  </div>
               </a>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js">$('.navbar-toggle').addClass('hidden-xs');</script>
<script type="text/javascript">
    let addRequestBtn = document.getElementById('add-request-btn');
    addRequestBtn.style.opacity = 0;
    addRequestBtn.href="";
    addRequestBtn.title="";
    let logoutBtn = document.getElementById('logout-btn');
    logoutBtn.style.opacity = 0;
    logoutBtn.href="";
    logoutBtn.title="";
</script>
