<%- include('partials/header') %>
<h1>Recent requests</h1>
<p>Purpose</p>
<form action="/verification" method="post">
  <input type="text" name="id"/>
  <div class="btn-block">
    <button type="submit">Submit Request</button>
  </div>
</form>
<% if (locals.data) { %>
    <h2><%= data.from %></h2>
<% } %>
